<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4yX0B_JT-jD-WJ1lJs-EWXBLcm1Sggvw</string>
	<key>GCM_SENDER_ID</key>
	<string>581837960739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzz</string>
	<key>PROJECT_ID</key>
	<string>reservation_app-6d7a5</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation_app-6d7a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581837960739:ios:3fafaf3fa9b57d55a56396</string>
	<key>DATABASE_URL</key>
	<string>https://reservation_app-6d7a5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>